html {
    height: 1080px;
}

body {

    background-image: url(Recursos/fondo-creativo-vista-superior-formas-blancas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transform: translate(0px, -100px);
    font-family: 'Noto Serif Old Uyghur', serif;
    
    


}

#fondoTitulo {
    width: 350px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 750px;
    top: 140px;
    box-shadow: 0 0 5px rgb(196, 190, 190);
    opacity: 0.9;
  
    border-radius: 2px;
    line-height: 90px;
    font-size: 40px;


}

h1 {
    text-align: center;
}

.fondoEntrada {

    width: 600px;
    height: 150px;
    background-color: rgb(253, 253, 253);
    position: relative;
    left: 625px;
    top: 300px;
    box-shadow: 0 0 5px rgb(196, 190, 190);
    opacity: 0.9;
    border-radius: 2px;
    
    border-radius: 15px;
    font-size: large;

}
.fondoEntrada p{
    margin: 2cap;
    position: relative;
    top: 20px;
}
.fondoEntrada audio{
    position: relative;
    left: 60px;
}
.fondoEntrada img{
    position: relative;
    left: 90px;
}

#fondoEntradaia1 {

    width: 400px;
    height: 150px;
    background-color: rgb(253, 253, 253);
    position: relative;
    left: 150px;
    top: 424px;
    box-shadow: 0 0 5px rgb(196, 190, 190);
    opacity: 0.9;
    border-radius: 2px;
    line-height: 90px;


    font-size: larger;

}

#fondoEntradaia2 {

    width: 400px;
    height: 150px;
    background-color: rgb(253, 253, 253);
    position: relative;
    left: 700px;
    top: 251px;
    box-shadow: 0 0 5px rgb(196, 190, 190);
    opacity: 0.9;
    border-radius: 2px;
    line-height: 90px;


    font-size: larger;

}

#fondoEntradaia3 {

    width: 400px;
    height: 150px;
    background-color: rgb(253, 253, 253);
    position: relative;
    left: 1250px;
    top: 79px;
    box-shadow: 0 0 5px rgb(196, 190, 190);
    opacity: 0.9;
    border-radius: 2px;
    line-height: 90px;

    font-size: larger;

}

.imagenLogo {
    transform: translate(275px, -195px);


}

.correccionTexto {
    transform: translate(25px, -80px);


}

.oscurecerLogo:hover {
    filter: brightness(70%);



}

a {
    text-decoration: none;
    color: black;
}