html {
    height: 100%;
}

body {

    background-color: #a6aec1;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;


    font-family: 'inter', sans-serif;

}

main {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background: aliceblue;
    box-shadow: 0 0 5px #a6aec1;

}

.lateral {
    box-sizing: border-box;
    width: max(8%, 200px);
    display: inline-block;
    position: fixed;
    padding-top: 30px
}

.principal {
    margin-left: max(10%, 200px);
    padding: 0 10px;
    height: 100%;
    text-align: justify;
    background: #ededf2;

    border-radius: 15px;
    box-shadow: 0 0 5px #a6aec1;
}

.lateral header {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid black;

    background-color: #cfd5e1;
    box-shadow: 0 0 5px #cfd5e1;

}

.lateral ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    background-color: #cfd5e1;
    box-shadow: 0 0 5px #cfd5e1;
}

.lateral ul li {
    display: block;
    position: relative;
    padding: 8px 10px;
    margin-left: 0;
    margin-top: 0;
    border-bottom: 1px solid #000000
}

.lateral ul li a {
    color: black;
    text-decoration: none;
}

.lateral ul li a:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.lateral ul li:hover,
.lateral ul li:hover a {
    background: #ededf2;

}

.Titulo {
    width: 430;
    height: 100;
    line-height: 95px;
    text-align: center;
    font-size: 65;
    position: relative;
    top: 60;
    left: 550;
    background-color: #cfd5e1d7;
    box-shadow: 0 0 5px #fafafaa4;

    border-radius: 15px;

}

.imagen {



    position: relative;
    top: 250px;
    left: 200px;
    

}


.texto {

    background-color: #cfd5e1d7;
    box-shadow: 0 0 5px #fafafaa4;
    position: relative;
    left: 1090px;
    top: -200px;
    width: 500px;
    height: 500;
    border-radius: 15px;

}

.texto h2 {
    text-align: center;
    line-height: 95px;
}







#fonfoTabla {
    background-color: #fcfdff;
    box-shadow: 0 0 5px #a6aec1;
    border-radius: 15px;
    width: 450px;
    height: 160px;
    position: relative;
    left: 28;
    top: -25;

}


.fondoTablaAbajo {
    background-color: #fcfdff;
    box-shadow: 0 0 5px #a6aec1;
    border-radius: 15px;
    width: 450px;
    height: 150px;
    position: relative;
    left: 28;
    top: -70;

}


.fondoTablaAbajo p {
    font-style: normal;
    font-size: larger;
    margin: 10;
    line-height: 1.5;

}


#h2correcion {
    position: relative;
    top: -40;
}

.a:hover {
    color: #000000;
}


.lista{
    position: relative;
    top: -72px;
    left: 200px;
}
.listas{
    position: relative;
    top: 40;
}