html{
    height: 100%;
 }

body {


    height: inherit;
    margin: 0;
    background-image: url(Recursos/Fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;


  
 
}
#fondoTitulo{
    width: 350px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    position:relative;
    left: 750px;
    top:140px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    opacity: 0.9;
    
    border-radius:2px;
    line-height: 90px;
    font-size: 40px;


}
h1 {text-align: center;}
#fondoEntrada{

    width: 600px;
    height: 150px;
    background-color: rgb(253, 253, 253);
    position:relative;
    left: 625px;
    top:300px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    opacity: 0.9;
    border-radius: 2px;
    line-height: 90px;
    text-align: center;
    font-size: large;
    
}
#fondoEntradaia1{

    width: 400px;
    height: 150px;
    background-color: rgb(253, 253, 253);
    position:relative;
    left: 150px;
    top:401px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    opacity: 0.9;
    border-radius: 2px;
    line-height: 90px;
    
    font-size: large;
    
}
#fondoEntradaia2{

    width: 400px;
    height: 150px;
    background-color: rgb(253, 253, 253);
    position:relative;
    left: 700px;
    top:251px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    opacity: 0.9;
    border-radius: 2px;
    line-height: 90px;
    text-align: center;
    font-size: large;
    
}
#fondoEntradaia3{

    width: 400px;
    height: 150px;
    background-color: rgb(253, 253, 253);
    position:relative;
    left: 1200px;
    top:101px;
    box-shadow: 0 0 10px rgb(41, 41, 41);
    opacity: 0.9;
    border-radius: 2px;
    line-height: 90px;
    text-align: center;
    font-size: large;
    
}
